/***********************************************
*THIS APPLICATION WAS CREATED BY NICHOLAS JONES*
*                      *                       *
************************************************/

/*INITIAL LAYOUT*/
html, body{
	position: fixed;
}
*{
	padding:0;
	margin:0;
	color:white;
	font-family: 'Quicksand', sans-serif;
}
.background{
	background-color:black;
	background-size: cover;
	background-image:url("images/casino.jpg");
	position: fixed;
	min-width:100%;
	min-height:100%;
	filter:brightness(70%) blur(6px);
	z-index: -1;
}
/*HEADS UP DISPLAY*/
#hud{
	background-color:black;
	font-size:50px;
	position: fixed;
}
	.contents{
	}
	#bet{
		float:left;
		margin-left:20px;
	}
	#balance{
		float:right;
		margin-right:20px;
	}
/*BEGIN CONTENT*/
#wrapper{
	display:grid;
	grid-template-rows: 65px  450px 100px;
	grid-template-areas:
	"hud"
	"body"
	"controls";
}
	#hud{
		grid-area:hud;
		box-shadow: 2px 2px 10px black;
		padding-bottom:15px;
	}
	.body{
		position:relative;
		grid-area:body;
		margin-left:10px;
		margin-right:10px;
		/*background-color:orange;*/
	}
	/*PLACEMENT FOR CARD DRAWS, TEMPLATES */
	.drawCards{
		position:absolute;
		top:0;
		bottom:0;
		right:20%;
		left:20%;
		margin:130px;
		/*filter:opacity(.5);
		background-color:orange;*/
	}	/*CARD TYPES */
		.drawCards .ulPlayer{
			position:absolute;
			right:0;bottom:0;margin:auto;
		}
		.drawCards .ulDealer{
			position:absolute;
			left:0;bottom:0;margin:auto;
		}
		.drawCards .playerCard{
			display:inline-block;margin-left:-30px;margin-bottom:20px;
			z-index: 1000;
		}
		.drawCards .dealerCard{
			display:inline-block;margin-right:-30px;
			z-index: 1000;
		}

		#dealer{
			position: absolute;
			margin:auto;
			top: 0; left: 0; bottom: 0;
			float:left;
			width:300px;
			height:300px;
			background-image: url("images/player.png");
			background-size: cover;
			background-color:white;
			border-radius: 50%;
			text-align:center;

		}
			.bottom{
				font-size:30px;
				position:absolute;
				left:0;
				right:0;
				bottom:-70px;
			}
		#player{
			position: absolute;
			margin:auto;
			top: 0;right:0; bottom: 0;
			float:right;
			width:300px;
			height:300px;
			background-image: url("images/player.png");
			background-size: cover;
			background-color:white;
			border-radius: 50%;
			text-align:center;
		}
		#dealerCards{
			position: absolute;
			height:200px;
			width:75px;
			margin:auto;
			top:0;bottom:0;left:0;
			grid-gap:10px;

			display:grid;
			grid-template-rows:1fr 1fr;
			grid-template-areas:
			"cardone"
			"cardtwo";
		}
			.cardFormat{/*Format for all cards, DRY method*/
				height:100px;
				width:75px;
				background-size:100% 100%;
				border-radius:5px;
				box-shadow: 2px 2px 5px black;
				z-index: 900;
			}
			#card1{
				grid-area:cardone;
			}
			#card2{
				grid-area:cardtwo;
			}
		#playerCards{
			position: absolute;
			height:200px;
			width:75px;
			margin:auto;
			top:0;bottom:0;right:0;
			grid-gap:10px;

			display:grid;
			grid-template-rows:1fr 1fr;
			grid-template-areas:
			"pcardone"
			"pcardtwo";
		}
			#card3{
				grid-area:pcardone;
			}
			#card4{
				grid-area:pcardtwo;
			}
			/*.move{
				animation:move 1s;
				animation-fill-mode: forwards;
			}*/

			.ani{
			filter:opacity(0);

			-webkit-animation:animate .5s;
		   	-moz-animation:animate .5s;
		    -o-animation:animate .5s;
		    animation:animate .5s;

			animation-fill-mode: forwards;
			}
			@-webkit-keyframes animate{
				0%{-webkit-transform:translateX(-300px);}
				100%{-webkit-filter:opacity(1);}
				/*100%{transform:rotate(360deg)}*/
			}
			@-moz-keyframes animate{
				0%{-moz-transform:translateX(-300px);}
				100%{-moz-filter:opacity(1);}
				/*100%{transform:rotate(360deg)}*/
			}
			@-o-keyframes animate{
				0%{-o-transform:translateX(-300px);}
				100%{-o-filter:opacity(1);}
				/*100%{transform:rotate(360deg)}*/
			}
			@keyframes animate{
				0%{transform:translateX(-300px);}
				100%{filter:opacity(1);}
				/*100%{transform:rotate(360deg)}*/
			}
		#bodyWrapper{
			position: absolute;
			height:100%;
			width:50%;
			margin:auto;
			right:0;left:0;top:0;bottom:0;
		}
	.controls{
		grid-area:controls;
    	width: 100%;
    	height:130px;
    	/*background-color:red;*/
	}
	#buttonGrid{
		float:right;
		width:33vw;
		height:100%;
		margin:10px;

		display:grid;
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 2fr 2fr;
		grid-gap:1vw;
		grid-template-areas:
		"Hit Double"
		"Stay Surrender"
		;
	}
		.buttonStyle{
			background:transparent;
			background-color:black;
			border:2px solid white;
			font-size: 2vw;
		}
		.buttonStyle:hover{
			background-color:white;
			color:black;
			font-size: 23pt;
		}
.screen{
	visibility: hidden;
	position: fixed;
	height:100%;
	width:100%;
	background-color:black;
	filter:opacity(.5);
	z-index: 1000;
	display: grid;
	align-content: center;
	justify-content: center;
}
.screen p {
	filter:opacity(1);
	font-size: 75pt;
}

.screen button{
	position: relative;
	margin:auto;
	left:0;right:0;
	width:200px;
	color:black;
	background-color:darkgrey;
	height:75px;
	font-size: 30pt;
	border:2px solid black;
}